.form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 20px;
}

.form__fieldset {
    border: 1px solid hsl(207, 44%, 40%);
    padding: 10px;
    margin-top: 60px;
    background-color: white;
}

.from__annotation {
    font-style: italic;
    font-size: 13px;
}