html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url(https://raw.githubusercontent.com/beataxamb/currency-converter/main/images/background-dollar.jpeg);
  background-size: 80px;
  background-repeat: space;
}